[submodule "test/data"]
	path = test/data
	url = ../slap-test-patches.git
[submodule "docs"]
	path = docs
	url = ../slap-format-documentation.git
[submodule "vendor/ram"]
	path = vendor/ram
	url = ../ram.git
[submodule "vendor/browser_wasi_shim"]
	path = vendor/browser_wasi_shim
	url = ../browser_wasi_shim.git
[submodule "web-page/vendor/lit-html"]
	path = web-page/vendor/lit-html
	url = ../lit-html.git
