dist-newstyle/
*.hi
*.o
*.dyn_hi
*.dyn_o

# Large ROM files (test ROMs placed by user)
*.z64
*.gba
*.sfc
*.smc
*.nds
*.gb
*.gbc
*.nso
*.bin
*.iso
*.img
*.cue

# Staging folder for unsorted test material
sort-or-integrate-what-you-need-and-dont-commit-this-folder/

# User-provided test material staging area
Suikoden*/
zelda-*/
dx-btusc/
rosy_retrospection*/
Final Fantasy*
FFTA_*
Banjo-Tooie*
Tetris*
